[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eChem"]
	path = eChem
	url = https://github.com/dtharvey/echem
[submodule "titrationCurves"]
	path = titrationCurves
	url = https://github.com/dtharvey/titrationcurves
